.container{
    margin-top:50px;
}
.logo{
    width:230px;
}
.justify{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.inline_block_left{
    display:inline-block;
    margin-right: auto;
}
.inline_block_right{
    display:inline-block;
    margin-right: 0px;
    margin-left: auto; 
}
.main_left{
    margin-top:0px;
    padding-top:0px;
    display:inline-block;
    margin-left:100px;
    margin-right:50px;
}
.head_count{
    color:#2ecc71;
}
.main_right{
    display:inline-block;
}
.sidebar{
    display:flex;
    justify-content:space-between;
}
.nav-item{
    margin-left:20px;
}
#wide_button{
    width:100px;
}
.center_div{
    text-align: center;
}
.gray_div{
    background-color:#e0e0e0;
    width:fit-content;
    display: inline-block;
    padding-top:30px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:30px;
}
.errorMsg{
    background-color: #eabcbc;
    width:90%;
    text-align:left;
    margin-left:00px;
    margin-right:20px;
    margin-top:25px;
    margin-bottom: 20px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:2px;
    padding-right:20px;
    border-radius:10px 10px 10px 10px;
}
.btn_is_using{
    margin-top:7px;
    background-color: blue;
    color:white;
    font-weight:bold;
    border:0;
    outline:0;
}
.modal_wrap , .modal_wrap_2 {
    display: none;
    width: 600px;
    height: 350px;
    position: absolute;
    top:60%;
    left: 50%;
    padding-top:25px;
    padding-left:30px;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}
.second_modal_wrap, .second_modal_wrap_2,.delete_modal_wrap{
    display: none;
    width: 500px;
    height: 200px;
    position: absolute;
    top:60%;
    left: 50%;
    padding-top:25px;
    padding-left:30px;
    padding-right:40px;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}

.black_bg, .black_bg_2, .second_black_bg,.second_black_bg_2, .delete_black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close , .modal_close_2{
    font-size:20px;
    width: 26px;
    height: 26px;
    right: 0;
    padding-right:50px;
}

.second_modal_close, .second_modal_close_2, .delete_modal_close{
    font-size:20px;
    width: 26px;
    height: 26px;
    right: 0;
}

.modal_close> a, .modal_close_2> a , .second_modal_close> a,.delete_modal_close> a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    color:black;
    text-decoration: none;
    
}

p a:link{
    color:black;
    text-decoration: none;
}
p a:visited{
    color:black;
    text-decoration: none;
}
.form-group #btn-light{
    background-color: #b9b9b9;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border:0;
    outline:0;
}
