.container{
    margin-top:50px;
    width: 80%;
}
.main_form{
    width: 800px;
    padding-top:50px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:50px;
    box-shadow: 5px 5px 5px grey;
}
.form_table{
    width:100%;
}
.form_table_th1{
    width:220px;
}
.logo{
    width:230px;
}
#inline_block_left{
    display:inline-block;
    width:350px;
}
.inline_block_left{
    display:inline-block;
}
#inline_block_right{
    display:inline-block;
    margin-left:10px;
}
.check_support_time{
    background-color: #e0e0e0;
    width:100%;
    border-radius:10px 10px 10px 10px;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:20px;
}
.done input{
    width:100px;
}
th .form-control{
    height:28px;
}
.main_left{
    margin-top:0px;
    padding-top:0px;
    display:inline-block;
    margin-left:100px;
    margin-right:50px;
}
.errorMsg{
    background-color: #eabcbc;
    width:100%;
    text-align:left;
    margin-left:00px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:2px;
    padding-right:20px;
    border-radius:10px 10px 10px 10px;
}
.radio_sort{
    margin-left:40px;
}
.main_right{
    display:inline-block;
}
.sidebar{
    display:flex;
    justify-content:space-between;
}
.nav-item{
    margin-left:20px;
}
#wide_button{
    width:100px;
}
.center_div{
    text-align: center;
}
.support_div_2 ,.support_radio_2{
    display: none;
}
.support_div_3 , .support_radio_3{
    display: none;
}
.btn_is_using{
    margin-top:7px;
    background-color: blue;
    color:white;
    font-weight:bold;
    border:0;
    outline:0;

}
.done{
    margin-top:40px;
    text-align:center;
    
}
.close_support_form_2> a , .close_support_form_3> a{
    display:inline-block;
    margin-left:10px;
    color:red;
}
.close_support_form_2> a:link , .close_support_form_3> a:link .close_support_form_2> a:visited , .close_support_form_3> a:visited{
    color:red;
}

