.container{
    margin-top:50px;
    width: 80%;
}
.main_form{
    padding-top:50px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:50px;
    box-shadow: 5px 5px 5px grey;
}
.form_table{
    width:100%;
}
.logo{
    width:230px;
}
.inline_block_left{
    display:inline-block;
}
.inline_block_right{
    display:inline-block;
    margin-left:40px;
}
.main_left{
    margin-top:0px;
    padding-top:0px;
    display:inline-block;
    margin-left:100px;
    margin-right:50px;
}
.errorMsg{
    background-color: #eabcbc;
    width:100%;
    text-align:left;
    margin-left:00px;
    margin-right:20px;
    margin-top:25px;
    margin-bottom: 20px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:2px;
    padding-right:20px;
    border-radius:10px 10px 10px 10px;
}
.main_right{
    display:inline-block;
}
.sidebar{
    display:flex;
    justify-content:space-between;
}
.nav-item{
    margin-left:20px;
}
#wide_button{
    width:100px;
}
.center_div{
    text-align: center;
}
.gray_div{
    background-color:#e0e0e0;
    width:fit-content;
    display: inline-block;
    padding-top:30px;
    padding-left:40px;
    padding-right:40px;
}
.btn_is_using{
    margin-top:7px;
    background-color: blue;
    color:white;
    font-weight:bold;
    border:0;
    outline:0;

}